        body {
            margin: 0;
            padding: 0;
            background-image: url('https://media.tenor.com/hO5LurgYddYAAAAi/party-balloons.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: Arial, sans-serif; 
        }
        .main {
            padding-top: 2%;
            text-align: center;
            animation: main 3s ease-in-out forwards;
        }
        .cake {
            width: 100%; 
            max-width: 900px;
            height: auto; 
            animation: cake 3s ease-in-out forwards;
        }
       
        @keyframes main {
            from {
                transform: translateY(1000px);
            }
            to {
                transform: translateY(0);
            }
        }
        @keyframes cake {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
